<a href="https://colab.research.google.com/github/bobby1/UCSC-Natural-Language-Processing/blob/main/AISV_801_lab1_Wen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AISV.801.(6) Natural Language Processing
## Instructor Joseph Meyer

Assignment 1: Introductory Lab

Bobby Wen

NOTE: lab tasks are separated into I and II tasks. I task are from page 20 of NLP class one PPT.  II tasks are from page 21 of class PPT.

Part I (slide 20) tasks

In [ ]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [ ]:
# I-1: Load the iris dataset from sklearn
iris = load_iris()

In [ ]:
# data set check: size of feature matrix
print(iris.data.shape)

(150, 4)

In [ ]:
# size of target vector
print(iris.target.shape)

(150,)

In [ ]:
# data set check
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [ ]:
# data set check
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [ ]:
# Store features matrix in X training and y testing data
X= iris.data
#Store target vector in y
y= iris.target

In [ ]:
#Convert the dataset into a pandas DataFrame
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']]
                  ,columns= iris['feature_names'] + ['Species'])

In [ ]:
df['Species'].value_counts()

0.0    50
1.0    50
2.0    50
Name: Species, dtype: int64

In [ ]:
# I-2: Show the first 5 rows of the DataFrame
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [ ]:
# data set check
df.index

RangeIndex(start=0, stop=150, step=1)

In [ ]:
# I-3: Show the column names.
print(df.columns)

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'Species'],
      dtype='object')

In [ ]:
# I-4: Show the data types of each column.
print(df.dtypes)

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
Species              float64
dtype: object

In [ ]:
# I-5: Show the summary statistics of the DataFrame.
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [ ]:
# I-6: Count the number of rows in the DataFrame.
print("number of rows:", len(df))

number of rows: 150

In [ ]:
# I-7: Count the number of unique values in a specific column.
print("Number of Unique values in 'sepal length (cm)' column:",df['sepal length (cm)'].nunique())

Number of Unique values in 'sepal length (cm)' column: 35

In [ ]:
# I-8: Sort the DataFrame by a specific column.
sorted_df = df.sort_values('sepal length (cm)')
print("DataFram sorted by 'sepal length (cm)' column: \n")
print(sorted_df)

DataFram sorted by 'sepal length (cm)' column:

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
13                 4.3               3.0                1.1               0.1
42                 4.4               3.2                1.3               0.2
38                 4.4               3.0                1.3               0.2
8                  4.4               2.9                1.4               0.2
41                 4.5               2.3                1.3               0.3
..                 ...               ...                ...               ...
122                7.7               2.8                6.7               2.0
118                7.7               2.6                6.9               2.3
117                7.7               3.8                6.7               2.2
135                7.7               3.0                6.1               2.3
131                7.9               3.8                6.4               2.0

     Species
13       0.0
42       0.0
38       0.0
8        0.0
41       0.0
..       ...
122      2.0
118      2.0
117      2.0
135      2.0
131      2.0

[150 rows x 5 columns]

In [ ]:
# I-9: Filter the DataFrame based on a condition.
filtered_df = df[df['sepal length (cm)'] > 2]
print ("Filter the DataFrame if 'sepal length (cm)' is greater then 2: \n")
print(filtered_df)

Filter the DataFrame if 'sepal length (cm)' is greater then 2:

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Species
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
..       ...
145      2.0
146      2.0
147      2.0
148      2.0
149      2.0

[150 rows x 5 columns]

In [ ]:
# I-10: Group the DataFrame by a specific column and calculate the mean of another column.
grouped_df = df.groupby('sepal length (cm)')['sepal width (cm)'].mean()
print("Group the DataFrame by 'sepal length (cm)' column and calculate the mean of 'sepal width (cm)' column:\n")
print(grouped_df)

Group the DataFrame by 'sepal length (cm)' column and calculate the mean of 'sepal width (cm)' column:

sepal length (cm)
4.3    3.000000
4.4    3.033333
4.5    2.300000
4.6    3.325000
4.7    3.200000
4.8    3.180000
4.9    2.950000
5.0    3.120000
5.1    3.477778
5.2    3.425000
5.3    3.700000
5.4    3.550000
5.5    2.842857
5.6    2.816667
5.7    3.100000
5.8    2.885714
5.9    3.066667
6.0    2.733333
6.1    2.850000
6.2    2.825000
6.3    2.855556
6.4    2.957143
6.5    3.000000
6.6    2.950000
6.7    3.050000
6.8    3.000000
6.9    3.125000
7.0    3.200000
7.1    3.000000
7.2    3.266667
7.3    2.900000
7.4    2.800000
7.6    3.000000
7.7    3.050000
7.9    3.800000
Name: sepal width (cm), dtype: float64

In [ ]:
# I-11: Add a new column to the DataFrame.
df['sepal Length mean (cm)'] = df['sepal length (cm)'].mean()
print("Add a new column 'sepal Length mean' to the Dataframe:\n")
print(df)

Add a new column 'sepal Length mean' to the Dataframe:

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Species  sepal Length mean (cm)
0        0.0                5.843333
1        0.0                5.843333
2        0.0                5.843333
3        0.0                5.843333
4        0.0                5.843333
..       ...                     ...
145      2.0                5.843333
146      2.0                5.843333
147      2.0                5.843333
148      2.0                5.843333
149      2.0                5.843333

[150 rows x 6 columns]

In [ ]:
# I-12: Write a csv (little clunky in google colab)
df.to_csv('AISV_801_lab1_Wen.csv', index=False)
print ( "Please see Colab notebook file system for the output file")

Please see Colab notebook file system for the output file

## Part II (slide 21) tasks

In [ ]:
# II-1: Select specific columns from the DataFrame: Choose only the "sepal length (cm)" and "sepal width (cm)" columns from the dataset.
selected_columns = df[["sepal length (cm)", "sepal width (cm)"]]
print(selected_columns)

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

In [ ]:
# II-2:Create a function to a column or multiple columns: Apply the square root function to the "petal length (cm)" column.
def square_root(x):
    return np.sqrt(x)

df["petal length sq (cm)"] = df["petal length (cm)"].apply(square_root)
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Species  sepal Length mean (cm)  petal length sq (cm)
0        0.0                5.843333              1.183216
1        0.0                5.843333              1.183216
2        0.0                5.843333              1.140175
3        0.0                5.843333              1.224745
4        0.0                5.843333              1.183216
..       ...                     ...                   ...
145      2.0                5.843333              2.280351
146      2.0                5.843333              2.236068
147      2.0                5.843333              2.280351
148      2.0                5.843333              2.323790
149      2.0                5.843333              2.258318

[150 rows x 7 columns]

In [ ]:
# II-3: Merge/join multiple DataFrames based on a common column: Create a new DataFrame by separating the iris dataset. Merge it back.
## Splitting
from sklearn.model_selection import train_test_split

X = df['petal width (cm)']  # Features (input variables)
y = df['Species']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the resulting sets
print("Training set shape:", X_train.shape, y_train.shape)
print("Testing set shape:", X_test.shape, y_test.shape)

Training set shape: (120,) (120,)
Testing set shape: (30,) (30,)

In [ ]:
# check X_train data set
X_train.describe()

count    120.000000
mean       1.183333
std        0.752289
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal width (cm), dtype: float64

In [ ]:
# check X_test data set
X_test.describe()

count    30.000000
mean      1.263333
std       0.810910
min       0.100000
25%       0.325000
50%       1.350000
75%       2.000000
max       2.300000
Name: petal width (cm), dtype: float64

In [ ]:
# II-3: Merge/join multiple DataFrames based on a common column: Create a new DataFrame by separating the iris dataset. Merge it back.
### Merge back
merged_df = pd.concat([X_train, X_test], axis=0, ignore_index=True, sort=False)

In [ ]:
print(merged_df)

0      0.2
1      0.4
2      1.4
3      0.2
4      0.2
      ...
145    2.3
146    1.8
147    2.3
148    0.3
149    0.2
Name: petal width (cm), Length: 150, dtype: float64

In [ ]:
merged_df.describe()

count    150.000000
mean       1.199333
std        0.762238
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal width (cm), dtype: float64

In [ ]:
# II-4  Handle missing values in the dataset: Check if there are any missing values in the DataFrame and handle them by either filling them with a specific value or dropping the corresponding rows/columns.

# TRAINING data set
has_missing_values = X.isna().any().any()

if has_missing_values:
    print("The DataFrame has missing values.")
else:
    print("The DataFrame does not have any missing values.")

The DataFrame does not have any missing values.

In [ ]:
# TESTING data set
has_missing_values = y.isna().any().any()

if has_missing_values:
    print("The DataFrame has missing values.")
else:
    print("The DataFrame does not have any missing values.")

The DataFrame does not have any missing values.

In [ ]:
# Drop rows if has missing values
X = df.dropna(axis=0)
print(X)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Species  sepal Length mean (cm)  petal length sq (cm)
0        0.0                5.843333              1.183216
1        0.0                5.843333              1.183216
2        0.0                5.843333              1.140175
3        0.0                5.843333              1.224745
4        0.0                5.843333              1.183216
..       ...                     ...                   ...
145      2.0                5.843333              2.280351
146      2.0                5.843333              2.236068
147      2.0                5.843333              2.280351
148      2.0                5.843333              2.323790
149      2.0                5.843333              2.258318

[150 rows x 7 columns]

In [ ]:
## Drop columns if has missing values
y = df.dropna(axis=1)
print(y)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Species  sepal Length mean (cm)  petal length sq (cm)
0        0.0                5.843333              1.183216
1        0.0                5.843333              1.183216
2        0.0                5.843333              1.140175
3        0.0                5.843333              1.224745
4        0.0                5.843333              1.183216
..       ...                     ...                   ...
145      2.0                5.843333              2.280351
146      2.0                5.843333              2.236068
147      2.0                5.843333              2.280351
148      2.0                5.843333              2.323790
149      2.0                5.843333              2.258318

[150 rows x 7 columns]

In [ ]:
# II-5 : Apply a group-wise operation and aggregate multiple columns simultaneously: Group the dataset by "species" and calculate the mean and standard deviation of "sepal length (cm)" and "sepal width (cm)" for each group.

##grouped_stats = df.groupby('Species')['sepal length (cm)', 'sepal width (cm)'].agg(['mean', 'std'])   ###code show FutureWarning  DEBUG
grouped_stats = df.groupby('Species').agg({'sepal length (cm)': ['mean', 'std']
                                           ,'sepal width (cm)': ['mean', 'std']})

print(grouped_stats)

        sepal length (cm)           sepal width (cm)
                     mean       std             mean       std
Species
0.0                 5.006  0.352490            3.428  0.379064
1.0                 5.936  0.516171            2.770  0.313798
2.0                 6.588  0.635880            2.974  0.322497

In [ ]:
# II-6: Perform advanced filtering using multiple conditions: Filter the dataset to include only the rows where "petal length (cm)" is greater than 5 and "sepal width (cm)" is less than 3.
# Filter the dataset based on conditions
filtered_df = df[(df['petal length (cm)'] > 5) & (df['sepal width (cm)'] < 3)]

print(filtered_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
83                 6.0               2.7                5.1               1.6
101                5.8               2.7                5.1               1.9
103                6.3               2.9                5.6               1.8
107                7.3               2.9                6.3               1.8
108                6.7               2.5                5.8               1.8
111                6.4               2.7                5.3               1.9
114                5.8               2.8                5.1               2.4
118                7.7               2.6                6.9               2.3
122                7.7               2.8                6.7               2.0
128                6.4               2.8                5.6               2.1
130                7.4               2.8                6.1               1.9
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
142                5.8               2.7                5.1               1.9

     Species  sepal Length mean (cm)  petal length sq (cm)
83       1.0                5.843333              2.258318
101      2.0                5.843333              2.258318
103      2.0                5.843333              2.366432
107      2.0                5.843333              2.509980
108      2.0                5.843333              2.408319
111      2.0                5.843333              2.302173
114      2.0                5.843333              2.258318
118      2.0                5.843333              2.626785
122      2.0                5.843333              2.588436
128      2.0                5.843333              2.366432
130      2.0                5.843333              2.469818
132      2.0                5.843333              2.366432
133      2.0                5.843333              2.258318
134      2.0                5.843333              2.366432
142      2.0                5.843333              2.258318

In [ ]:
# II-7: Create a new column based on conditions: Create a new column called "flower_type" that categorizes the flowers as "large" if the "petal width (cm)" is greater than 1.5, and "small" otherwise.

# Define a function to categorize flower types
def categorize_flower(row):
    if row['petal width (cm)'] > 1.5:
        return 'large'
    else:
        return 'small'

# Apply categorize_flower function to create a new column
df['flower_type'] = df.apply(categorize_flower, axis=1)
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Species  sepal Length mean (cm)  petal length sq (cm) flower_type
0        0.0                5.843333              1.183216       small
1        0.0                5.843333              1.183216       small
2        0.0                5.843333              1.140175       small
3        0.0                5.843333              1.224745       small
4        0.0                5.843333              1.183216       small
..       ...                     ...                   ...         ...
145      2.0                5.843333              2.280351       large
146      2.0                5.843333              2.236068       large
147      2.0                5.843333              2.280351       large
148      2.0                5.843333              2.323790       large
149      2.0                5.843333              2.258318       large

[150 rows x 8 columns]

In [ ]:
# II-8: Normalize or standardize the values in a specific column: Normalize the values in the "sepal length (cm)" column using min-max normalization or standardize the values using z-score normalization.
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler object
scaler = StandardScaler()

# Apply z-score normalization to the "sepal length (cm)" column
df['sepal length (cm)'] = scaler.fit_transform(df[['sepal length (cm)']])

print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0            -0.900681               3.5                1.4               0.2
1            -1.143017               3.0                1.4               0.2
2            -1.385353               3.2                1.3               0.2
3            -1.506521               3.1                1.5               0.2
4            -1.021849               3.6                1.4               0.2
..                 ...               ...                ...               ...
145           1.038005               3.0                5.2               2.3
146           0.553333               2.5                5.0               1.9
147           0.795669               3.0                5.2               2.0
148           0.432165               3.4                5.4               2.3
149           0.068662               3.0                5.1               1.8

     Species  sepal Length mean (cm)  petal length sq (cm) flower_type
0        0.0                5.843333              1.183216       small
1        0.0                5.843333              1.183216       small
2        0.0                5.843333              1.140175       small
3        0.0                5.843333              1.224745       small
4        0.0                5.843333              1.183216       small
..       ...                     ...                   ...         ...
145      2.0                5.843333              2.280351       large
146      2.0                5.843333              2.236068       large
147      2.0                5.843333              2.280351       large
148      2.0                5.843333              2.323790       large
149      2.0                5.843333              2.258318       large

[150 rows x 8 columns]

In [ ]:
# II-9: Perform statistical tests or correlations between different columns: Conduct a correlation analysis between the "sepal length (cm)" and "sepal width (cm)" columns to determine the strength of their linear relationship.
### Calculate the correlation between "sepal length (cm)" and "sepal width (cm)"
correlation = df['sepal length (cm)'].corr(df['sepal width (cm)'])
print("'sepal length (cm)' to 'sepal width (cm)' Correlation coefficient:", correlation)

'sepal length (cm)' to 'sepal width (cm)' Correlation coefficient: -0.11756978413300212